@model FrontEndTechnologies.ViewModels.PersonViewModel
<div class="container">
    <h1 class="row">
        Persons
    </h1>


    <div class="form-horizontal col-xs-12 col-m-6 col-lg-3">
        <div class="control-group">
            @Html.LabelFor(p => p.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(p => p.LastName, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(p => p.LastName, new { @class = "form-control" })
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <environment names="Development">
        @*<script asp-src-include="~/app/shared/**/*.js"></script>*@@*It works but it could throw exception due to the orden of the scripts*@
        <script asp-src-include="~/app/shared/plugins/notifier.js"></script>
        <script asp-src-include="~/app/shared/core.js"></script>
    </environment>
    <environment names="Staging, Production">
        @*<script asp-src-include="~/app/dist/**/*.js"></script>*@@*It works but it could throw exception due to the orden of the scripts*@
        <script asp-src-include="~/app/dist/plugins/notifier.min.js"></script>
        <script asp-src-include="~/app/dist/core.min.js"></script>
    </environment>
}