@model FrontEndTechnologies.ViewModels.PersonViewModel
<div class="container">
    <h1 class="row">
        Persons
    </h1>


    <div class="form-horizontal col-xs-12 col-m-6 col-lg-3">
        <div class="control-group">
            @Html.LabelFor(p => p.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(p => p.LastName, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(p => p.LastName, new { @class = "form-control" })
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/app/shared/plugins/notifier.js"></script>
    <script src="~/app/shared/core.js"></script>
}