<div id="staticContent">Loading...</div>

<div id="defaultMsg">Loading...</div>

<div id="viewContent">Loading...</div>


@section Scripts{
    <script>System.import("app/transpiler/jspmExample");</script>
}